---
import "../css/global.css"
---
<footer>
  <div class="footer-container">
    <div class="footer-info">
      <p class="kontakt_bold">KONTAKT</p>
      <p>Email: <a href="mailto:balashaps@gmail.com">Balashaps@gmail.com</a></p>
      <p>Instagram: <a href="https://www.instagram.com/balash.events" target="_blank">Balash.Events</a></p>
      <p>Telefon: <a href="tel:+4530493847">+45 30 49 38 47</a></p>
    </div>
    <div class="footer-img">
        <img src="/logo/illustration.webp" alt="illustration">
    </div>
    <div class="footer-copyright">
      <p>© 2024 Balash Events ApS</p>
    </div>
  </div>
</footer>
<style>
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5%;
  font-family: "Roboto Mono", monospace;
  font-size: 9px;
}
.footer-info {
  text-align: left;
  align-self: flex-end; 
}
.footer-info p {
  margin: 5px;
}
.kontakt_bold{
font-weight: 500;  
}
.footer-info a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}
.footer-info a:hover {
    text-decoration: underline;
  }
.footer-img {
  max-width: 150px; 
  height: auto;
  display: flex;
  align-self: flex-end; 
}
.footer-copyright {
  align-self: flex-start; 
  text-align: left;
}
@media (min-width: 800px) {
.footer-copyright {
  align-self: center;
}
.footer-container {
  margin: 2%;
  font-size: 12px;
}
.footer-img {
  max-width: 200px; 
}
}
</style>