<div id="newsletter-popup" class="hidden">
  <div class="popup-content">
    <!-- &#215 er kode for gange-tegn -->
    <button class="close-popup" aria-label="Close popup">&#215</button> 
    <h2>NEWSLETTER</h2>
    <p>Tilmeld dig vores nyhedsbrev her og vær first in line når vi sender nyt om næste spændende pop-up fra Balash Events.</p>
    <form id="newsletter-form">
      <input type="email" placeholder="EMAIL" required>
      <button type="submit">SUBSCRIBE</button>
    </form>
  </div>
</div>
<div class="knap">
  <button>NEWSLETTER</button>
</div>
<script>
    const knap = document.querySelector('.knap');
    const newsletter = document.getElementById('newsletter-popup');
    const closePopup = document.querySelector('.close-popup');

    knap?.addEventListener('click', toggleNewsletter);
     closePopup?.addEventListener('click', toggleNewsletter);

    function toggleNewsletter() {
      newsletter?.classList.toggle('hidden');
    }
</script>
  <style>
   .hidden {
    display: none !important;
    }
    /* NEWSLETTER BOX STYLING */
    #newsletter-popup{
    position: sticky;
    width: fit-content;
    top: 25%; 
    z-index: 10;
    left: 25vw;
    margin-top: -20rem;
    }
    .popup-content{
    background-color: white;
    width: 90vw;
    max-width: 700px;
    padding: 2rem;
    font-family: "Roboto Mono", monospace;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    }
/* krydset styling */
    .close-popup{
    place-self: end;
    border:none;
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
    }
  h2{
    font-weight: 700;
  }
  #newsletter-form{
    display: flex;
    flex-direction: column;
       gap: 0.5rem;
  }
/* Email*/
  input{
     padding: 1rem;
  }
/* subsrcibe*/
  #newsletter-form button {
    padding: 1rem;
    background-color: black;
    color:white;
  }
    .knap{
    position: sticky;
    display: flex;
    justify-content: end;
    top: 50%;
    z-index: 20;
    
    }
    .knap > button {
    position: relative;
    transform: rotate(-90deg);
    border: solid black 2px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-right: -2rem;
    }
</style>

